html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.row {
    margin-bottom: 15px;
}

.input-group-addon {
    width: 50px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    outline: none !important;
}

input[type='submit'] {
    max-width: 300px;
}

.auth-client .auth-link .auth-title
{
    display: none !important;
}

h1.ub-page-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn:focus {
    outline: none !important;
}

.full-width {
    width: 100%;
}

.ub-arrears-table th:nth-child(1) {
    width: auto;
}

.ub-arrears-table th:nth-child(2) {
    width: 100px;
}

.ub-arrears-table th:nth-child(3) {
    width: 50px;
}

.ub-arrears-table td:nth-child(2) {
    padding-right: 20px;
    text-align: right;
}

.ub-arrears-table .editable-input input {
    width: 90px;
}

.ub-additional-target-user-box .ub-medium-userpic {
    margin-right: 20px;
}

.ub-additional-target-user-box-text {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ub-medium-userpic {
    width: 50px;
    height: 50px;
}

.ub-index-auth-clients .auth-clients {
    padding-left: 0;
}

.ub-index-auth-clients .auth-clients .auth-client {
    display: inline-block;
    float: none;
}

.ub-index-auth-clients .auth-clients .auth-client .auth-icon.vkontakte {
    width: 128px;
    height: 128px;
    background: url("http://cs424830.vk.me/v424830492/6800/4W_bSTYHBEY.jpg") no-repeat;
    background-size: 128px 128px;
}

.ub-index-auth-clients .auth-clients .auth-client .auth-link {
    width: 128px;
}

.ub-index-email-form form#email-form label,
.ub-index-email-form form#email-form .help-block {
    display: none;
}

.ub-index-email-form form#email-form input[type="text"] {
    width: 300px;
    margin: 0 auto 0 auto;
}

.site-index .jumbotron .lead {
    margin-top: 25px;
    margin-bottom: 40px;
}

.ub-transfer-log th:nth-child(1) {
    width: 170px;
}

.ub-transfer-log th:nth-child(2) {
    width: 200px;
}

.ub-transfer-log th:nth-child(3) {
    width: 200px;
}

.ub-transfer-log th:nth-child(4) {
    width: 80px;
}

.ub-transfer-log th:nth-child(5) {
    width: 50px;
}

.ub-transfer-log th:nth-child(6) {
    width: auto;
}

.ub-transfer-log td:nth-child(4) {
    padding-right: 20px;
    text-align: right;
}

.ub-transfer-log .ub-transfer-log-comment {
    font-size: 10px;
    color: #fafafa;
}
